<h2>My activities</h2>

<div>
  <label for="new-activity">Activity name: </label>
  <input id="new-activity" #activityName />

  <button type="button" class="add-button" (click)="add(activityName.value)">
    Add activity
  </button>
</div>

<ul class="activities">
  <li *ngFor="let activity of activities">
    <a routerLink="/detail/{{activity.id}}">
      <span class="badge">{{activity.id}}</span> {{activity.name}}
    </a>
    <button type="button" class="delete" title="delete activity"
      (click)="delete(activity)">
      <img src="../../assets/imgs/delete.png" alt="delete">
      </button>
      <!-- (click)="delete(activity)">x</button> -->
  </li>
</ul>

