<div *ngIf="activity">
  <div class="box"> <h1>{{activity.name }}: </h1>
  <h1> - {{activity.description}}</h1>
  <!-- <div><span>id: </span>{{activity.id}}</div> -->
</div>
<br>
<img *ngIf="!this.checked" src="assets/imgs/brainoff.png"/>
<img *ngIf="this.checked" src="assets/imgs/brain.png"/>

  <div>
    <label for="activity1-name">Activity name: </label>
    <input id="activity1-name" [(ngModel)]="activity.name" placeholder="name">

    <!-- <div>
      <p *ngFor="let check of activity?.checklist">
        <span [ngClass]="{'done': !check.enabled}" (click)="updateChecklist(check.id)">{{check.name}}</span>
      </p>
    </div> -->

    <div  *ngFor="let check of activity?.checklist"> 
      <span [ngClass]="{'done': !check.enabled}" (click)="updateChecklist(check.id)">
        <input type="checkbox" id="checkboxid"/> {{check.name}}
      </span>
    </div>

    <button type="button" (click)="goBack()">go back</button>
    <button type="button" (click)="save()">save</button>
  </div>
</div>

